############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# User avatar
webroot/img/users/*
!webroot/img/users/0.png

# Compiled css
webroot/css/*
